extends layout.pug

block content
    - var title = user ? `欢迎，${user.username}` : '自习室'
    .flex.justify-center.items-center
        .text-center
            h1.text-6xl.font-bold #{title}
    .flex-shrink-0.py-12.text-center
        if user
            a(class='font-semibold text-gray-700 hover:underline' href="/logout") 退出登录
        else
            a(class='font-semibold text-gray-700 hover:underline' href="/login") 登录
            span(class='mx-4 text-gray-500') |
            a(class='font-semibold text-gray-700 hover:underline' href="/join") 注册
